/*globale*/
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
}

header{
    position: fixed;
    top: 0;
}

/*Container vari*/
.container{
    background-color: black;
    width: 100vw;
    height: 82vh;
    margin-top: 10vh;
}

.container-header{
    background-color: black;
    width: 100vw;
    height: 10vh;
}

.container-footer{
    background-color: rgb(29, 29, 29);
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

/*Row varie*/
.row{
    width: 100%;
    display: flex;
}

.row-header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}

.row-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.row-left{
    width: 100%;
    display: flex;
}

/*Col varie*/
.col{
    display: flex;
}

.col-button{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 8px;
}

.button{
    font-size: 25px;
}

/*Content vari*/
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0vh 2vw 1vh 1vw;
}

.content-header{
    display: flex;
    color: white;
    padding: 5px;
    background-color: rgba(78, 78, 78);
    border-radius: 5px;
    margin-left: 5px;
}

.content-header span{
    padding-left: 2px;
}

/*Misto*/
.cam{
    width: 12vw;
    height: 14vh;
    background-image: url(https://picsum.photos/id/1025/300/300);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    display: flex;
    align-items: flex-end;
}

.tag{
    background-color: rgba(78, 78, 78, 0.699);
    width: 50%;
    height: 15%;
    font-size: 70%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#end{
    background-color: rgb(78, 78, 78);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
}

.col-button span{
    margin-top: 5px;
}