* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    background-color: black;
    width: 100vw;
    height: 80vh;
}

.container-header{
    background-color: black;
    width: 100vw;
    height: 10vh;
}

.container-footer{
    background-color: rgb(29, 29, 29);
    height: 10vh;
    width: 100vw;
}

.row{
    width: 100%;
    display: flex;
}

.row-header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2vw;
}

.row-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col{
    display: flex;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0vh 2vw 1vh 1vw;
}

.content-header{
    display: flex;
    color: white;
    padding: 5px;
    background-color: rgba(78, 78, 78);
    border-radius: 5px;
    margin-left: 5px;
}

.content-header span{
    padding-left: 2px;
}

.cam{
    width: 12vw;
    height: 14vh;
    background-image: url(https://picsum.photos/id/1025/300/300);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    display: flex;
    align-items: flex-end;
}

.tag{
    background-color: rgba(78, 78, 78, 0.699);
    width: 50%;
    height: 15%;
    font-size: 70%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
